{% load bootstrap4 %}
{% bootstrap_css %}


{% block styles %}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>


      <form action="{% url 'cafeapp:all' %}" method="POST">
        {% csrf_token %}
        <fieldset>
          {% for field in form %}
          {% if field.id == "submit" %}
          <tr>
            <td>{{ field }}</td>
          </tr>
          {% else %}
          <tr>
            <th>{{ field.label }}</th>
            <td>{{ field }}</td>
            <br>
          </tr>
          {% endif %}
          {% endfor %}
        </fieldset>
      </form>

	  <p class="space-above"><a onclick='window.location.href="/cafes/all"'>See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
