{% load bootstrap4 %}
{% bootstrap_css %}


{% block styles %}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      <form action="/cafes/add" method="post">
        {% csrf_token %}
        {% for field in form %}
        <label for={{field}}>{{field}}</label>
        <input name={{field}} value="{{ current_value }}">
        <br>
        {% endfor %}
        <input type="submit" value="OK">
      </form>
      <div class="fieldWrapper">
        <h1>This works, might need to create the form manually for each type</h1>{{ form.name.label }}
      </div>

	  <p class="space-above"><a onclick='window.location.href="/cafes/all"'>See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}

