{% load bootstrap4 %}
{% bootstrap_css %}


{% block styles %}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Edit a cafe in the database</h1>

      <form action="{% url 'cafeapp:edit' id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{ field.label }} {{ field }}
        <br>
        {% endfor %}
        <input type="submit" value="OK">
      </form>
      {{ id }}
      <p class="space-above"><a onclick='window.location.href="/cafes/all"'>See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}

